@import '../../../styles/variables.sass'

.Background
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: rgba(0, 0, 0, 0.6)
  backdrop-filter: blur(5px)
  display: flex
  justify-content: center
  align-items: center
  padding: 20px
  z-index: 100

.Modal
  width: 100%
  max-width: 700px
  max-height: 90%
  background: #1f0318
  background: linear-gradient(90deg, rgba(31, 3, 24, 1) 0%, rgba(41, 0, 15, 1) 100%, rgba(8, 2, 5, 1) 100%)
  border-radius: 20px
  padding: 40px 30px
  box-shadow: 0 12px 50px rgba(0, 0, 0, 0.4)
  display: flex
  flex-direction: column
  overflow-y: auto
  gap: 30px

.ModalHeader
  text-align: center
  color: white
  font-size: 1.8rem
  font-weight: 700
  margin-bottom: 10px

.ModalContent
  width: 100%
  display: flex
  flex-direction: column
  align-items: center
  gap: 20px
  color: white

.Separator
  width: 80%
  height: 1px
  background-color: rgba(255, 255, 255, 0.2)
  margin: 20px 0
  align-self: center


.InputGroup
  width: 40%
  display: flex
  flex-direction: column
  gap: 8px

  label
  font-size: 1.2rem
  font-weight: 600
  text-align: center
  margin: 0

  input
    width: 100%
    padding: 14px 18px
    border-radius: 10px
    border: none
    font-weight: 700
    background-color: #e4e4e4
    color: black
    font-size: 1.1rem
    text-align: center // << CENTER the input text

.ModalFooter
  display: flex
  justify-content: center
  align-items: center
  gap: 25px
  flex-wrap: wrap
  margin-top: 10px

  button
    padding: 14px 30px
    min-width: 160px
    border-radius: 12px
    font-size: 1.2rem
    font-weight: 700
    border: none
    transition: all 0.2s ease

    &:hover
      transform: scale(1.05)
      cursor: pointer

.PrimaryColor
  background-color: $primaryColor
  color: white

  &:hover
    background-color: darken($primaryColor, 8%)
    transform: scale(1.05)

.ResetSection
  display: flex
  justify-content: center
  gap: 25px
  flex-wrap: wrap

.Choice
  background-color: #e4e4e4
  padding: 14px 30px
  border-radius: 12px
  font-weight: 700
  font-size: 1.2rem
  border: none
  min-width: 160px
  text-align: center
  transition: all 0.2s ease

  &:hover
    background-color: #d4d4d4
    transform: scale(1.05)
    cursor: pointer

.SpeedRoverSection
  display: flex
  justify-content: center
  align-items: center
  gap: 20px

.SpeedRoverInput
  width: 100px
  padding: 14px
  font-weight: 700
  border-radius: 10px
  border: none
  background-color: #e4e4e4
  color: black
  font-size: 1.1rem
  text-align: center // << CENTER the input text

.SpeedRoverButton
  padding: 14px 30px
  border-radius: 12px
  font-weight: 700
  font-size: 1.2rem
  border: none
  background-color: $primaryColor
  color: white
  transition: all 0.2s ease

  &:hover
    background-color: darken($primaryColor, 8%)
    transform: scale(1.05)
    cursor: pointer
