@import './variables'
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900&display=swap')

*
    box-sizing: border-box

body
    margin: 0
    font-family: 'Nunito', 'Poppins', -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    background: #55121b
    background: radial-gradient(circle at bottom, #55121b 0%, #1e0d20 100%)
    box-sizing: border-box
    height: 100vh
    width: 100vw

body, body *
    font-family: 'Nunito', 'Poppins', -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important
    font-weight: 600 !important

#root
    height: 100%
    width: 100%
    overflow: hidden

.page
    height: 100vh
    width: 100vw
    overflow: hidden

.center
    display: flex
    flex-direction: column
    align-items: center
