@import '../../styles/variables.sass'

.mainPage
    display: flex
    flex-direction: column
    height: 100vh
    max-height: 100vh
    width: 100vw
    overflow: hidden

.header
    display: flex
    flex-direction: row
    padding: 0 20px
    width: 100%
    padding: 20px 20px 0px 20px
    align-items: flex-end

.logo
    object-fit: contain
    height: 60px

.systems
    flex: 1
    display: flex
    flex-direction: row
    gap: 70px
    justify-content: center
    width: 100%
    align-items: flex-end
    margin-left: 100px

.control
    flex: 1
    height: auto
    display: flex
    flex-direction: row
    transition: all 0.5s ease-out
    overflow: hidden

.expand
    position: absolute
    left: -3px
    top: 60%
    z-index: 40

.data
    display: flex
    flex-direction: column
    gap: 20px
    margin-top: 20px
    transition: width 0.2s ease-out

.visualization
    flex: 1
    background-color: white
    border-radius: 25px
    margin: 20px
    position: relative
    overflow: hidden

.previews
    position: absolute
    bottom: 20px
    right: 20px
    display: flex
    flex-direction: column
    gap: 10px
    justify-content: flex-end

.simulation
    width: 300px
    height: 200px
    padding: 10px
    background-color: grey
    border-radius: 15px
    z-index: 20
    overflow: hidden
    cursor: pointer

.infos
    position: absolute
    top: 20px
    right: 20px
    display: flex
    flex-direction: column
    justify-content: center
    background: $backgroundColor
    border-radius: 15px
    padding: 20px 20px

.actions
    position: absolute
    bottom: 40px
    right: 0
    left: 0
    display: flex
    flex-direction: row
    justify-content: center
    gap: 20px